:root {
  --white: #ffffff;
  --gray: #3b3b3b;
  --gray-light: #f6f6f5;
  --black: #201e1e;
  --black-light: #272727;

  --blue-light: rgba(34, 47, 62, 0.8);
  --green-soft: #d5f388;
  --green: #daff7b;
  --green-light: #aad63e;
}

* {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: var(--gray-light);
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--blue-light);
  }

  font-family: "Roboto", sans-serif !important;
}

// antd dropdown arrow
.ant-select-arrow,
.create-dimension span {
  width: unset !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 20px;
}

.title {
  margin: 1%;
  line-height: 30px;
  font-size: 28px;
  height: 10px;
  font-weight: bold;
  color: var(--green-light);
}

#App {
  display: flex;
  height: 100vh;
  width: 100vw;

  #ContentApp {
    overflow-x: auto;
  }
}

#Login {
  height: 100%;
  flex-direction: column;

  #welcome {
    padding: 3%;
  }

  #login-form {
    width: 30vw;

    #login-extra {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

#imagen-login {
  object-fit: cover;
}

.ant-drawer-wrapper-body {
  background-color: var(--black);
}

.gutter-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ant-calendar-selected-date {
  background-color: var(--green-light);
  border-radius: 4px;
}

//ant-calendar-selected-day

#dashboard-panel {
  flex-flow: column;
  background-color: var(--black);
  align-items: center;
  flex: 0.2;
  min-width: 250px;
  -webkit-box-shadow: 10px 0px 11px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 0px 11px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 0px 11px -10px rgba(0, 0, 0, 0.2);

  overflow-x: auto;

  #dashboard-panel-logo {
    @extend .cc;
    flex: 0.2;

    svg {
      max-width: 13vw;
    }
  }

  #dashboard-panel-menu {
    flex: 1;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 48px;

    span,
    li,
    i {
      color: var(--white);
      &::before,
      &::after {
        background-image: unset;
        background: var(--gray-light);
      }
    }

    .ant-menu-item-selected {
      background-color: var(--green-light) !important;
    }

    .ant-layout-sider-trigger {
      background-color: var(--black);
    }

    .dashboard-panel-item {
      margin: 0;
      background-color: var(--black);
      i {
        color: var(--black);
      }
      &:hover {
        background-color: var(--green-light);
      }

      .ant-menu-submenu-title {
        margin: 0;
        background-color: var(--black-light);
        &:hover {
          background-color: var(--green-light);

          i {
            color: var(--black);
          }
        }
      }
    }
  }

  #dashboard-panel-logout {
    flex: 0.1;
    width: 100%;
    padding: 0 24px;

    &:hover {
      cursor: pointer;
      color: red;
    }

    span {
      margin-left: 10px;
    }
  }
}

#content {
  flex: 1;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  background-color: var(--gray-light);
  overflow-y: auto;
  overflow-x: hidden;
}

:global {
  .ant-card {
    border-radius: 5px;
    margin-bottom: 24px;
    &:hover {
      box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.05);
    }
  }
  .ant-card-body {
    overflow-x: hidden;
  }
}

.container {
  margin: 1%;
  padding-right: 2%;
  // padding-top: 10px;
  // padding-bottom: 10px;

  .title-left {
    line-height: 30px;
    font-size: 16px;
    padding-bottom: 8px;
    height: 30px;
  }

  .title-right {
    line-height: 30px;
    font-size: 16px;
    padding-bottom: 8px;
    height: 30px;
  }

  .contenRow {
    margin-left: 10%;
    margin-right: 10%;
  }

  .contenCol {
    flex: 1;
  }
}

.container-fluid {
  padding: 0px !important;
}

// * Fonts
.bigger-title {
  font-size: 20px;
  font-weight: bold;
}

.big-title {
  font-size: 20px;
  font-weight: bold;
}

.error-text {
  color: red;
}

// * Forms
.form-icon {
  color: rgba(0, 0, 0, 0.25);
}

.create-dimension {
  span {
    width: 100px;
  }
}

.search-form-item {
  > div {
    &:first-child {
      margin-right: 15px;
    }
  }
}

// * Menu
.menu-list-icon {
  margin-right: 10px;
  svg {
    width: 14px;
    height: 14px;
  }
}

// * List
.product-list-item {
  padding-right: 20px;
}

.infinite-list-item {
  height: 8vh;
  padding: 0;

  .infinite-list-item-meta {
    height: 100%;
    align-items: center;
    padding-left: 15px;

    > div {
      height: 100%;
      align-items: center;
      display: flex;
    }
  }

  .infinite-list-right-content {
    padding-right: 20px;
  }
}

.ant-spin {
  color: var(--green-light);
}

.ant-layout-sider-trigger {
  background-color: var(--black);
}

.ant-menu-vertical {
  border: none !important;
}

.ant-menu-submenu {
  border: none !important;
}

.ant-menu-submenu-inline .ant-menu-item::after {
  border-right: 3px solid var(--white);
  left: 0;
  right: unset;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid var(--white);
  left: 0;
  right: unset;
}
